### Usando lambda, map(), filter() y reduce() o una combinación de ellos para realizar las siguientes tareas:

1 - Supongamos que un diccionario contiene el tipo de mascota (gato, perro, etc.), el nombre de la mascota y la edad de la mascota. Escribe un programa que obtenga la suma de las edades de todos los perros.

2 - Considere la siguiente lista:  
lst = [1.25, 3.22, 4.68, 10.95, 32.55, 12.54]  
Los números de la lista representan radios de circunferencias. Escribe un programa para obtener una lista de áreas de estos círculos redondeada a dos decimales.

3 - Considere las siguientes listas:  
nums = [10, 20, 30, 40, 50, 60, 70, 80]  
strs = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']  
Escribe un programa para obtener una lista de tuplas, donde cada tupla contenga un número de una lista y una cadena de otra, en el mismo orden en que aparecen en las listas originales.

4 - Considere la siguiente lista:  
lst = ['Malayalam', 'Drawing', 'madamIamadam', '1234321']  
Escribe un programa que imprima las cadenas que son palíndromos.

5 - Una lista contiene nombres de empleados. Escribe un programa para filtrar aquellos nombres cuya longitud sea superior a 8 caracteres.

6 - Utilizando la función de filter(), encuentre los valores comunes a las dos listas siguientes.   
a = [1,2,3,5,7,9]  

b = [2,3,5,6,7,8]  

El resultado debe estar guardado en otra lista.

6 - Teniendo en cuenta el rango de valores de abajo, utilice filter() para devolver una lista que contenga sólo números negativos.  
range(-17, 17)

7 - Basado en la cadena de texto de abajo, utilice map() y lambda para imprimir una lista de listas que contenga cada palabra en mayúsculas, otra en minúsculas y el número de caracteres de la palabra.  
words = 'Data Science Academy offers the best data analysis courses in Spain'

In [10]:
words = 'Data Science Academy offers the best data analysis courses in Spain'.split()  

# results = list(map(lambda w: [w.upper(), w.lower(), len(w)], words))
print(list(map(lambda w: [w.upper(), w.lower(), len(w)], words)))

[['DATA', 'data', 4], ['SCIENCE', 'science', 7], ['ACADEMY', 'academy', 7], ['OFFERS', 'offers', 6], ['THE', 'the', 3], ['BEST', 'best', 4], ['DATA', 'data', 4], ['ANALYSIS', 'analysis', 8], ['COURSES', 'courses', 7], ['IN', 'in', 2], ['SPAIN', 'spain', 5]]